<body>
    <div class="main-container">
      
      <div class="cards">
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Event's Name</h2>
          <p class="card__apply">
            <a class="card__link" href="/reserver" style="margin-right: 20px;">Reserver <i class="fas fa-arrow-right"></i></a>
            <a class="card__link" href="/eventdetails">Details <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Event's Name</h2>
          <p class="card__apply">
            <a class="card__link" href="/reserver" style="margin-right: 20px;">Reserver <i class="fas fa-arrow-right"></i></a>
            <a class="card__link" href="/eventdetails">Details <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Event's Name</h2>
          <p class="card__apply">
            <a class="card__link" href="/reserver" style="margin-right: 20px;">Reserver <i class="fas fa-arrow-right"></i></a>
            <a class="card__link" href="/eventdetails">Details <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Event's Name</h2>
          <p class="card__apply">
            <a class="card__link" href="/reserver" style="margin-right: 20px;">Reserver <i class="fas fa-arrow-right"></i></a>
            <a class="card__link" href="/eventdetails">Details <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Event's Name</h2>
          <p class="card__apply">
            <a class="card__link" href="/reserver" style="margin-right: 20px;">Reserver <i class="fas fa-arrow-right"></i></a>
            <a class="card__link" href="/eventdetails">Details <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">Event's Name</h2>
          <p class="card__apply">
            <a class="card__link" href="/reserver" style="margin-right: 20px;">Reserver <i class="fas fa-arrow-right"></i></a>
            <a class="card__link" href="/eventdetails">Details <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
    </div>
    
    
    
    </body>