
<nav *ngIf="navbarService.getShowNavbar()" class="navbar" [ngStyle]="{'background': 'linear-gradient(to right, #f8e6d9, #928577)'}">

 
   <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>

   

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">search</button>
     
    </form>

    <div class="login-button">
      <button (click)="login()" class="btn btn-outline-light">Login</button>
    </div>
  </nav>
