<body>
    
  <div class="card">
      <h4><strong >Event's Name </strong></h4>
      
  
      <p>Description of the event: 
      </p>
      <p>   <strong> Date of the Event:   </strong>  </p>
      <p>   <strong> Location:   </strong>  </p> 
      <p>   <strong> Nombre de place   </strong>  {{stroredValue}} </p>
      <p>   <strong> Prix total:   </strong>  </p> 
      <p>   <strong> Capacity:   </strong>  </p>
      <p>   <strong> Start Hour:   </strong>   </p>
      <p>   <strong> End Hour:   </strong>  </p>
      
      
          <button type="button-custom" class="btn btn-secondary" style="margin-right: 20px; " (click)="pay(200)" > Payer </button>
         
  
    </div> 
  
   
  </body>