<body>
    
    <div class="card">
        <h4><strong >Event's Name </strong></h4>
        
    
        <p>Description of the event: lkhf zejfzu jegf
            zeug fozuejg fzef
            zùe ifozuegfj 
            zeio fzuggjdsfg jgd
        </p>
        <p>   <strong> Date of the Event:   </strong> 12/12/2024 </p>
        <p>   <strong> Location:   </strong> Gammarth </p> 
        <p>   <strong> Price:   </strong> 200 TND </p> 
        <p>   <strong> Capacity:   </strong> 80 </p>
        <p>   <strong> Start Hour:   </strong> 8pm  </p>
        <p>   <strong> End Hour:   </strong> 4am </p>
        
        
            <button type="button-custom" class="btn btn-secondary" style="margin-right: 20px; " (click)="reserver()" > Reserver </button>
           
    
      </div> 
    
     
    </body>