
<form [formGroup]="reservation" (ngSubmit)="onSubmit()">
  <div class="logo-container">
    <img src="assets\logo.png" alt="Logo" class="logo">
  </div>
  <label for="name">Votre nom:</label>
  <input type="text" id="name" formControlName="name">

  <label>Comment voulez-vous payer ?</label>
  <div>
    <label>
      <input type="radio" formControlName="paymentMethod" value="on-site"> sur place
    </label>
  </div>
  <div>
    <label>
      <input type="radio" formControlName="paymentMethod" value="online"> en ligne
    </label>
  </div>
  <div *ngIf="reservation && reservation.get('paymentMethod')?.value === 'online'">
    
    <h4>Paiement en ligne</h4>
    <!-- Ajoutez ici les champs supplémentaires pour le paiement en ligne -->
    <button (click)="imprimerFacture()">Imprimer facture</button>
  </div>
  

  <button type="submit" [disabled]="!reservation.valid ">Réservez votre place</button>
</form>



  
